<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="internal.log"
      internalLogLevel="Info" >

 
  <variable name="appName" value="${configsetting:name=appName}"/>
  
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="Console" name="console"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target xsi:type="Debugger" name="debugger"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <!-- Default message Card Configuration -->
    <target xsi:type="MsTeams" name="fatalLog"
          Url="XXX PUT YOUR URL IN HERE XXX"
          ApplicationName="${var:appName}"
          Environment="Demonstration">
      />
      <!-- Custom message Card Configuration -->
      <!-- uncomment this for a demo
    <target xsi:type="MsTeams" name="fatalLog"
          Url="XXX PUT YOUR URL IN HERE XXX"
          ApplicationName="Demo App"
          Environment="Test"            
          CardImpl="NLog.Targets.Teams.Test.App.CustomMessageCard"
          CardAssembly="NLog.Targets.Teams.Test.App"
    -->
      <contextproperty name="level" layout="${level}" />
      <contextproperty name="message" layout="${message}" />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,debugger,fatalLog" />
  </rules>
</nlog>